@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Belanosima:wght@400;600;700&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Sora:wght@100..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #102436;
    --secondary: #385380;
}

header {
    background-color: #ffffff;
    border-bottom: 3px solid gray;
    border-radius: 0;
    padding-top: 15px;
}


.mainlogo {
    text-align: center;
    margin: 0 auto;
}

.mainlogo img {
    max-width: 100%;
    height: auto;
    display: block;
}


body {
    background-color: var(--primary);
    /*ACA ABAJO EL VIEJO BACKGROUND*/
    /*margin: 0;
    padding: 0;
    height: 100%;
    position: relative;*/
    /*background: linear-gradient(200deg, var(--primary), var(--secondary));*/
    /*overflow-y: auto;*/
}

/*IMAGEN DE FONDO*/
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
}

/*Parrafo en General*/
p {
    font-style: italic;
    text-align: center;
    color: white;
}

/*Titulo*/
h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}

/*Titulo*/
h1 a {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: "Belanosima", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

/*Titulo Secundario*/
h2 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/*NUEVA NAV PILL*/
body header nav .container-fluid .navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
}

body header nav .container-fluid .navbar-nav {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    justify-content: center;
}

body header nav .container-fluid .navbar-nav a {
    font-weight: 500;
    padding-left: 5px;
}

body header nav .container-fluid .navbar-nav .nav-link.active {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: #ffffff;
    border-radius: 0.375rem;
}

body header nav .container-fluid .navbar-nav a:hover {
    border-radius: 0.375rem;
    box-shadow: 0 0 0 2px var(--primary);
}


/*FIN NUEVA NAV*/

main::after {
    content: '';
}

.titulo-secundario {
    font-family: "Belanosima", sans-serif;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.indexh1 {
    display: none;
}

/*INDEX Nuestro Trabajo*/
.flex-trabajos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trabajo1 {
    display: flex;
    justify-content: space-evenly;
}

.trabajo1 p {
    align-content: center;
    text-align: justify;
    margin: 0 auto;
    width: 40%;
    padding-right: 30px;
}

.img-nuestrotrabajo1 {
    border: 2px solid gray;
    border-radius: 0.375rem;
    height: auto;
    width: 43%;
    margin: 0 auto;
}

.trabajo2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.trabajo2 p {
    align-content: center;
    text-align: justify;
    margin: 0 auto;
    width: 40%;
    padding-left: 30px;
}

.img-nuestrotrabajo2 {
    border: 2px solid gray;
    border-radius: 0.375rem;
    height: auto;
    width: 43%;
    margin: 0 auto;
}

/*INDEX CONTACTO*/

.cuadrocontacto {
    background: #9dadd1;
    margin: 10px auto;
    max-width: 60%;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    margin-top: 30px;
    margin-bottom: 30px;

}

.cuadrocontacto:hover {
    transition: 0.4s ease-in-out;
    border: 4px solid rgb(73, 73, 73);
    background: #e0e7f7;

}

.cuadrocontacto h2 a {
    color: black;
}

.cuadrocontacto p {
    color: rgb(97, 4, 4);
    font-size: x-large;
    font-weight: 500;
    font-style: normal;
}

/*INDEX CLIENTES*/

.clientesindex div {
    max-height: 150px;
    max-width: 320px;
    justify-content: center !important;
    margin-top: 10px;
    margin-bottom: 30px;
}

.clientesindex .carousel-img-wrapper img {
    height: 150px;
    width: 150px;
    gap: 15px;
}

.clientesindex .carousel-item .carousel-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientesindex .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    overflow: hidden;
    opacity: 0;

}

.clientesindex .carousel-item.active {
    position: relative;
    opacity: 1;
    z-index: 1;
    transition: 0.6s ease-in-out;
}

.clientesindex .carousel-inner {
    overflow: hidden;
    position: relative;
}



/*Inicio Acordion Sobre Nosotros*/
.accordion {
    margin-left: 10px;
    margin-right: 10px;
}

.accordion-button {
    justify-content: center !important;
    text-align: center !important;
    padding-left: 0 !important;
    padding-right: 2.5rem !important;
    position: relative;
    text-transform: uppercase !important;
    font-weight: bold;
}



.accordion-button::after {
    position: absolute;
    right: 1rem;
    /*recordatorio posición de la flechita */
}

#carouselExampleAutoplaying {
    width: 97%;
    margin: 0 auto;
}


/*FIN Acordion Sobre Nosotros*/

/*GRID DE CONTACTO*/
/*Formulario de Contacto*/
.grid-contacto {
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    display: grid;
    justify-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
    width: 99%;
    grid-template-columns: 1fr 200px 200px 1fr;
    grid-template-rows: repeat(4, 50px) 70px;
    margin: 0 auto;
}

.grid-contacto div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.grid-contacto div input {
    border: 0.5px solid gray;
    border-radius: 0.3rem;
}

.grid-contacto div input::placeholder {
    text-indent: 5px;
}

.grid-contacto div textarea {
    border: 0.5px solid gray;
    border-radius: 0.3rem;
}

.grid-contacto div textarea::placeholder {
    text-indent: 5px;
}

.item-nombre {
    grid-area: 1/2/1/2;
}

.item-apellido {
    grid-area: 1/3/1/3;
}

.item-empresa {
    grid-area: 2/2/2/2;
}

.item-rubro {
    grid-area: 2/3/2/3;
}

.item-localidad {
    grid-area: 3/2/3/2;
}

.item-ciudad {
    grid-area: 3/3/3/3;
}

.item-infocontacto {
    grid-area: 4/2/4/2;
}

.item-email {
    grid-area: 4/3/4/3;
}

.item-observaciones {
    grid-area: 5/2/5/4;
}

/*Boton de Contacto*/
.item-boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.item-boton button {
    border: 2px solid gray;
    border-radius: 0.375rem;
    padding: 5px;
}

.item-boton button:hover {
    background-color: var(--secondary);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    transition: 0.3s;
}

/*FIN GRID DE CONTACTO*/

/*PAGINA CLIENTES*/
.seccion-clientes {
    text-align: center;
}

.item-contacto {
    border: solid 2px white;
}

/*FOOTER*/
footer {
    position: relative;
    border-top: 2px solid gray;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background-color: white;
    margin-top: 30px;
}

footer p {
    color: black;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footermedia {
    text-align: center;
}

.footermedia li {
    list-style: none;
    font-size: xx-large;
    display: inline-block;
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.footermedia i {
    color: #595c5f;
}

.footermedia i:hover {
    color: #102436;
}


/*PAGINA SOBRE NOSOTROS*/

.pagina-nosotros p {
    text-align: justify;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

/*PAGINA NUESTRO TRABAJO*/

.imagenes-trabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}

.item-trabajo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    gap: 20px;
}

.item-trabajo img {
    border: 2px solid gray;
    border-radius: 0.375rem;
    display: block;
    max-width: 714px;
    max-height: 476px;
}

/*LINK A CONTACTO*/
.bot-con {
    display: flex;
    justify-content: center;

}

/*PAGINA CLIENTES*/

.grid-imgclientes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 200px);
    text-align: center;
}

.grid-imgclientes img {
    border: 2px solid grey;
    border-radius: 0.375rem;
    height: 200px;
    width: 200px;
}

.cliente1 {
    grid-area: 1/1/1/1;
}

.cliente2 {

    grid-area: 1/3/1/3;
}

.cliente3 {
    grid-area: 1/5/1/5;
}

.cliente4 {
    grid-area: 2/2/2/2;
}

.cliente5 {
    grid-area: 2/4/2/4;
}

/*MEDIA QUERY*/

/*MQ INDEX*/

@media screen and (max-width: 700px) {

    .trabajo1,
    .trabajo2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trabajo1 p,
    .trabajo2 p,
    .img-nuestrotrabajo1,
    .img-nuestrotrabajo2 {
        align-content: center;
        width: 90%;
        margin: 10px auto;
    }

    .trabajo1 p,
    .trabajo2 p {
        align-content: center;
        width: 80%;
        margin: 10px auto;
        padding-right: 0;
        padding-left: 0;
    }

    .nav-pills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .cuadrocontacto {
        margin: 10px auto;
        max-width: 90%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/*MQ NUESTRO TRABAJO*/

@media screen and (max-width: 1100px) {
    .imagenes-trabajo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item-trabajo {
        display: flex;
        flex-direction: column;
    }

    .item-trabajo img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
    }
}


/*MQ CLIENTES*/
@media screen and (max-width: 1020px) {
    .grid-imgclientes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 200px);
        row-gap: 20px;
    }

    .cliente1 {
        grid-area: 1/2/1/2;
    }

    .cliente2 {
        grid-area: 1/4/1/4;
    }

    .cliente3 {
        grid-area: 2/2/2/2;
    }

    .cliente4 {
        grid-area: 2/4/2/4;
    }

    .cliente5 {
        grid-area: 3/2/3/2;
    }
}

@media screen and (max-width: 420px) {
    .grid-imgclientes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*MQ CONTACTO*/
@media screen and (max-width: 450px) {
    .grid-contacto {
        row-gap: 5px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .grid-contacto div {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    .grid-contacto div label {
        display: none;
    }
}

/*MQ FOOTER*/

@media screen and (max-width: 400px) {
    .footermedia li {
        margin-right: 30px;
        margin-left: 30px;
    }
}